body{
  background-color: #FCF3E1;
}


/* Fonts */
@font-face {
  font-family: 'inter'; 
  src: url('../Fonts/inter/Inter-ExtraBold.ttf')
}

a{
    text-decoration:none;
    color: white;
}

/* Navbar */
.navbar-brand{
  font-family: 'inter'; 
  font-weight: 800;
}
.nav-link{
  color: #160E0B;
  font-family: 'inter'; 
  font-weight: 700;
}
.nav-link:hover{
color: #160E0B;
}
.navbar-email{
  color: #FCF3E1;
  font-family: 'inter'; 
  font-weight: 800;
}
.navbar-email:hover{
  color:#160E0B
}
.navbar .btn{
  background-color: #160E0B;
}
.navbar, .btn:hover{
  background-color: #FCF3E1;
  border-color: #160E0B;
}
.navbar-email:hover{
  color:; 
}
.navbar-email .fa{
font-size: 16px;
}
/* End of NavBar */

/* Header */
#header{
  padding-left: 5rem;
  padding-right: 5rem;
}

/* Tablet  */
@media (min-width: 768px) and (max-width: 1024px) {
  #header {
      padding-left: 3rem;
      padding-right: 3rem;
  }

}

/* Mobile */
@media (max-width: 767px) {
  #header {
      padding-left: 1rem;
      padding-right: 1rem;
  }

}

header h1{
font-family: 'inter';
  font-weight:900;
}

header p{
  font-family: 'inter';
  font-weight: 500;
}
